body{
  background-color: #021859;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  color: #ffdaec;
  margin-top: 50px;
  font-size: 25px;
  margin-bottom: 30px;
}

h1:hover {
  cursor: default;
}

p {
  text-align: center;
  color: #ffdaec;
}

.info p {
  opacity: 0;
  animation: transitionIn 0.45s;
  animation-delay: 0.22s;
  animation-fill-mode: forwards;
  text-align: center;
  color: #ffdaec;
}

p img{
  height: 100%;
  width: 22px;
}

p img:hover{
  -webkit-filter: grayscale(100%);
}

@keyframes transitionIn {
    from{
      opacity: 0;
      transform: translateY(-10px);
    }

    to {
      opacity: 1;
      transform: translateY(0px);
    }
}
