body{
  background-color: #021859;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

h1{
  color: white;
  text-align: center;
  margin-top: 60px;
}


.logo img{
  height: 100%;
  width: 250px;
}

.logo img:hover{
  -webkit-filter: grayscale(100%);
}

img {
  height: 420px;
  width: 420px;
}

p {
  text-align: center;
}

p img{
  height: 100%;
  width: 22px;

}

p img:hover{
  -webkit-filter: grayscale(100%);
}


.img-area {
  opacity: 0;
  animation: transitionIn 0.45s;
  animation-delay: 0.22s;
  animation-fill-mode: forwards;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.single-img{
  padding: 3px 3px 3px  ;
  overflow: hidden;
  width: 420px;
  height: 420px;
  position: relative;
}

.single-img img{
  border-radius: 5px;
}


.single-img div{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.15s linear;
}


.single-img:hover img{
  opacity: 0.5;
  transition: opacity 0.06s linear;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  -webkit-transition: 0.06s linear;
}

.single-img:hover div{
  visibility: visible;
  opacity: 1;
  color: #e6e6e6;
  font-size: 40px;
}


@keyframes transitionIn {
    from{
      opacity: 0;
      transform: translateY(-10px);
    }

    to {
      opacity: 1;
      transform: translateY(0px);
    }
}
